
<div class="banner">
  <div class="container">
    <h1>Cocktail Collection</h1>
    <%= link_to "Create new cocktail", new_cocktail_path, class: "btn btn-ghost" %>
    <a href="#cocktails" class="arrow-btn"><i class="fas fa-arrow-down"></i></a>
  </div>
</div>


<div id="cocktails" class="container">
  <h2>All Cocktails</h2>
  <div class="cocktails-container">
    <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-category"  %>
    <% end %>
  </div>
</div>


<footer>
  <p>All rights reserved anthonyPassler © 2020</p>
</footer>
